body {
  margin: 0;
  /* font-family: "Now Light"
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: "Now Light", monospace; */
}
