@media only screen and (max-width: 1042px) {
  html {
    overflow-x: hidden;
  }
  .homepage .wrap-total {
    margin: 0 20px;
  }
  .header {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .introduce-page .section-2 .flex,
  .introduce-page .section-2 .flex-side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  .introduce-page .section-2 .flex-side .flex-side__side {
    padding-bottom: 100px;
  }

  .introduce-page .section-2.section-top .content {
    margin: 0;
    text-align: center;
    max-width: unset;
  }

  
}
@media screen and (max-width: 800px) {
  /* .homepage .wrap-market .title {
    position: absolute;
  } */
  .homepage .wrap-market {
    max-height: 520px;
  }

  .homepage .wrap-market .pools {
    max-height: 300px;
    overflow-y: scroll;
    padding-bottom: 100px;
  }
  .App {
    padding-bottom: 0;
  }

  .waveWrapperInner {
    width: 250%;
    bottom: -15px;
  }
  .wrap-popup .popup {
    top: 50%;
  }

  .wrap-popup .popup .wrap-white {
    padding: 17px 0;
  }

  .Wave {
    width: auto;
  }
  .roadmap .section-bot .title,
  .introduce-page .section-2 .title {
    font-size: 34px;
  }

  .introduce-page .section-2 .title {
    padding-bottom: 0;
  }

}

@media only screen and (max-width: 767px) {
  .introduce-page .head {
    background: url("./images/globe-block.png") no-repeat center bottom / cover;
  }
  .introduce-page .head .logo {
    display: none;
  }
  .introduce-page .head h2 {
    top: 50%;
    width: auto;
    font-size: 54px;
  }

  .introduce-page .section-2 {
    padding: 100px 20px;
  }
  .introduce-page .section-2 .flex,
  .introduce-page .section-2.section-3 .flex {
    flex-direction: column;
  }

  .introduce-page .section-2.section-3 .content,
  .introduce-page .section-2 .content {
    text-align: center;
  }
  .introduce-page .section-2 .last {
    padding-top: 40px;
  }

  .roadmap {
    padding: 40px 0;
  }

  .roadmap .ship-1 {
    position: relative;
    top: -10px;
    left: 30px;
  }
  .roadmap .ship-2 {
    position: relative;
    text-align: right;
    right: 20px;
    top: 0;
    margin-bottom: -70px;
  }

  .roadmap .section-top .text {
    text-align: left;
  }
  .roadmap .section-top .col .content {
    width: auto;
    margin: 40px 14px;
  }

  .roadmap .section-bot {
    padding: 40px 0 80px;
  }
  .roadmap .section-bot .title {
    /* text-align: left; */
    margin: 0 14px 44px;
  }

  .roadmap .wrap-line::before,
  .roadmap .wrap-line .wrap .planet {
    left: 10%;
    height: 100%;
  }

  .roadmap .wrap-line .phase,
  .roadmap .wrap-line .phase.left {
    width: auto;
    margin: 0 14px 0 23%;
  }

  .roadmap .wrap-line .wrap {
    padding-bottom: 60px;
  }
  .roadmap .wrap-line .phase.right h4 {
    right: auto;
  }

  .roadmap .wrap-line .phase h4 {
    margin-bottom: 14px;
    position: relative;
    left: auto;
    right: auto;
    width: auto;
    display: inline-block;
  }

  /* Popup */
  .wrap-popup .popup {
    /* min-width: 100%; */
    max-width: 400px;
    margin: 0;
  }
  .popup-open {
    overflow: hidden;
  }
  /* end Popup */
}

@media only screen and (max-width: 600px) {
.introduce-page .section-2 .flex-side .img {
  height: 320px;
}
}
@media only screen and (max-width: 475px) {
  /* Popup */
  .wrap-popup .popup {
    min-width: 100%;
    max-width: 400px;
    margin: 0;
  }
  .wrap-popup .popup .info p {
    width: 50%;
  }
  /* end Popup */

  .homepage .wrap-total {
    display: block;
    margin: 0 20px;
    text-align: center;
  }

  .homepage .wrap-total .total.deposit {
    border-bottom: 1px solid #fff;
  }
}
